<!DOCTYPE html>
<html>
  <head>
    <title>Startup Tycoon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/cola.v3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
